.menu {
    position: fixed;
    width: 100%;
    height: 35px;
    opacity: 1;
    background-color: white;
    z-index: 1000;
}

.menu-list {
    height: 100%;
    display: inline-block;
}

.item {
    margin: 15px;
    display: inline-block;
    color: black;
    font-size: 15px;
    margin-top: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
}

#menu1 {
    margin-left: 260px;
}

#menu2 {
    margin-left: 100;
}

#blog {
    z-index: 613;
}

.blu {
    color: #1353E8;
}

.collor {
    width: 290px;
    height: 35px;
    background-color: #1353E8;
    z-index: 5;
    position: absolute;
    top: 0px;
    text-align: right;
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gray {
    color: #C1C1C1;
}

#text1 {
    color: red;
    position: absolute;
    top: 260px;
    right: 380px;
    z-index: 0;
    height: 53px;
    font-family: PTSerif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#pic1 {
    top: 108px;
    right: 620px;
    position: absolute;
    width: 100;
    height: 100;
}

.people {
    background-color: #1353E8;
    width: 55px;
    height: 25px;
    position: absolute;
    top: 500px;
    left: 250px;
}

.people2 {
    color: white;
    font-family: PTSerif;
    text-align: center;
}

.bgt {
    position: absolute;
    right: 10px;
}

#s1 {
    width: 390px;
    height: 200;
    position: absolute;
    top: 600px;
    left: 200px;
}

#s2 {
    width: 390px;
    height: 200;
    position: absolute;
    top: 600px;
    right: 200px;
}

#s3 {
    position: absolute;
    right: 200px;
    top: 950px;
    width: 950px
}

#s4 {
    position: absolute;
    top: 1300px;
    left: 200px;
    width: 250px
}

#s5 {
    position: absolute;
    top: 1300px;
    left: 555px;
    width: 250px
}

#s6 {
    position: absolute;
    top: 1300px;
    right: 200px;
    width: 250px
}

#s7 {
    position: absolute;
    top: 1600px;
    left: 200px;
    width: 250px
}

#s8 {
    position: absolute;
    top: 1600px;
    left: 555px;
    width: 250px
}

#s9 {
    position: absolute;
    top: 1600px;
    right: 200px;
    width: 250px
}

#divv1 {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 800px;
    left: 200px;
}

#divv2 {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 800px;
    left: 760px
}

#divv3 {
    position: absolute;
    top: 1480px;
    left: 200px;
    width: 250px
}

#divv4 {
    position: absolute;
    top: 1480px;
    left: 555px;
    width: 250px
}

#divv5 {
    position: absolute;
    top: 1480px;
    left: 900px;
    width: 250px
}

#divv6 {
    position: absolute;
    top: 1800px;
    left: 900px;
    width: 250px
}

#divv7 {
    position: absolute;
    top: 1800px;
    left: 550px;
    width: 250px
}

#divv8 {
    position: absolute;
    top: 1800px;
    left: 200px;
    width: 250px
}

#ss1 {
    width: 390px;
    height: 200;
    position: absolute;
    top: 2000px;
    left: 200px;
}

#ss2 {
    width: 390px;
    height: 200;
    position: absolute;
    top: 2000px;
    right: 200px;
}

#div1 {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 2210px;
    left: 200px
}

#div2 {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 2210px;
    left: 760px
}

#bluelast {
    background-color: #1353E8;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 2400;
}

.new {
    margin-top: 70px;
    color: white;
    text-align: center
}

.new2 {
    color: white;
    text-align: center;
    opacity: 0.2;
}

.last1 {
    position: absolute;
    top: 2700;
    right: 300;
    height: 26.5px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #a7acbc;
}

.last2 {
    position: absolute;
    top: 2750;
    right: 500;
    height: 26.5px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #a7acbc;
}

.trips {
    background-color: #DA0043;
    position: absolute;
    top: 750;
    left: 200;
    width: 50;
    height: 30;
    color: white;
}

.trips2 {
    background-color: #DA0043;
    position: absolute;
    top: 1200;
    left: 200;
    width: 50;
    height: 30;
    color: white;
}

.tech {
    background-color: black;
    position: absolute;
    top: 750;
    left: 760;
    width: 50;
    height: 30;
    color: white;
}

.nature {
    background-color: #57B700;
    position: absolute;
    top: 210;
    left: 0;
    width: 50;
    height: 30;
    color: white;
}

.people3 {
    background-color: #1353E8;
    position: absolute;
    top: 210;
    left: 699;
    width: 50;
    height: 30;
    color: white;
}

.tech3 {
    background-color: black;
    position: absolute;
    top: 210;
    left: 355;
    width: 50;
    height: 30;
    color: white;
}

.trips3 {
    background-color: #DA0043;
    position: absolute;
    top: 520;
    left: 355;
    width: 50;
    height: 30;
    color: white;
}

.trips4 {
    background-color: #DA0043;
    position: absolute;
    top: 520;
    left: 0;
    width: 50;
    height: 30;
    color: white;
}

.fashion {
    background-color: #8300B3;
    position: absolute;
    top: 520;
    left: 699;
    width: 60;
    height: 30;
    color: white;
}

.tripss {
    background-color: #DA0043;
    position: absolute;
    top: 950;
    left: 0;
    width: 50;
    height: 30;
    color: white;
}

.techh {
    background-color: black;
    position: absolute;
    top: 950;
    left: 560;
    width: 50;
    height: 30;
    color: white;
}